<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<title>Fluid 960 Grid System | 16-column Grid</title>
<link rel="stylesheet" type="text/css" href="/templates/ave/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/960.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/layout.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/nav.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/modules.css" media="screen" />
</head>
<body id="bodystyle" onload="setupZoom()">
<div class="container_16">
  <div class="grid_16 logobox">
    <h1 id="branding"> <a href="../../../">Новый шаблон для AVECMS</a> </h1>
    <div id="fon_header" style="background: url(/templates/ave/images/fon_header.jpg) no-repeat left 0px;">
      <p><b>AVE CMS</b> - позволяет легко подключать новые шаблоны, сочетать их с любым дизайном, который только можно нарисовать.</p>
    </div>
  </div>
  <div class="clear"></div>
  <div class="grid_16" style="position:relative;">
    <ul class="nav">
      <li> <a href="#">Главная</a> </li>
      <li> <a href="#">Магазин</a>
        <ul>
          <li> <a href="#">MooTools</a> </li>
          <li> <a href="#">jQuery</a> </li>
          <li> <a href="#">No Javascript</a> </li>
        </ul>
      </li>
      <li> <a href="#">Файлы</a>
        <ul>
          <li> <a href="#">MooTools</a> </li>
          <li> <a href="#">jQuery</a> </li>
          <li> <a href="#">No Javascript</a> </li>
        </ul>
      </li>
    </ul>
    <div id="search">
      <form method="get" action="" class="search">
        <p>
          <input name="value" type="text" class="search text" value="Поиск по сайту" onfocus="this.value = ''"/>
          <input class="search button" value="Поиск" type="submit" />
        </p>
      </form>
    </div>
  </div>
  <div class="clear">&nbsp;</div>
<div class="grid_12">

  
<h2 id="page-heading">Canon i-SENSYS MF8450</h2>
<div class="grid_12 alpha omega">
<div class="grid_8 alpha  mod_shop_table">
<table border="0" cellspacing="0">
      <!-- разделы -->
      <tr>
        <td class="tdleft">Родительские разделы:</td>
        <td class="tdright"><div class="mod_shop_topnav1"><a class='mod_shop_navi' href='index.php?module=shop'>Главная</a> - <a class='mod_shop_navi' href='index.php?module=shop&amp;categ=50&amp;parent=0&amp;navop=50'>Ноутбуки</a> - <a class='mod_shop_navi' href='index.php?module=shop&amp;categ=53&amp;parent=50&amp;navop=50'>15'—16.4'</a></div></td>
      </tr>
      <!-- если новая цена -->
      <!-- основная цена -->
      <tr>
        <td class="tdleft">Цена:</td>
        <td class="tdright"><div class="mod_shop_price_big"> 23.150 руб.</div></td>
      </tr>
      <!-- цена в другой валюте -->
      <!-- Стоимость за 1 -->
      <!-- Стоимость с НДС -->
      <!-- цена оптовикам -->
      <!-- форма покупки товара..... старт -->
      <form method="post" action="index.php?add=1&amp;module=shop&amp;action=addtobasket&amp;product_id=3">
        <!-- варианты товара старт -->
        <!-- кнопки покупки и сравнения -->
        <tr>
          <td class="tdleft">Товар ЕСТЬ в наличии:</td>
          <td class="tdright">
          <input class="mod_shop_inputfields" name="amount" type="hidden" size="4" maxlength="2" value="1"  />
            <input name="product_id" type="hidden" value="3" />
            <input  class="absmiddle"  name="insertinto" type="image" src="/templates/ave/modules/shop/inbasket.gif" />
            <input onclick="document.getElementById('to_wishlist_3').value='1';" name="insertwishlist" class="absmiddle"   type="image" src="/templates/ave/modules/shop/compare.gif" />
            <input type="hidden" name="wishlist_3" id="to_wishlist_3"  value="" /></td>
        </tr>
      </form>
      <!-- форма покупки товара..... финиш -->
      <!-- производитель -->
      <tr>
        <td class="tdleft">Производитель:</td>
        <td class="tdright"><a href="index.php?module=shop&amp;manufacturer=8">Toshiba</a></td>
      </tr>
      <!-- Доставка -->
      <tr>
        <td class="tdleft">Вид доставки</td>
        <td class="tdright">Доставка в течение 24 дней</td>
      </tr>
      <!-- Артикул -->
      <tr>
        <td class="tdleft">Артикул:</td>
        <td class="tdright">CP-10201</td>
      </tr>
      <!-- Дата начала продажи -->
      <tr>
        <td class="tdleft">В продаже с:</td>
        <td class="tdright">26.10.2005</td>
      </tr>
      <!-- Рейтинги -->
      <tr>
        <td class="tdleft">Рейтинг:</td>
        <td class="tdright"><img class="absmiddle" src="/templates/ave/modules/shop/5.gif" alt="" />&nbsp;&nbsp;—&nbsp;&nbsp;количество оценок: <a href="#rezNew">1</a></td>
      </tr>
    </table>
</div>
<div class="grid_4 omega">
<div class="mod_shop_img_box" id="photos">
<a href="http://farm4.static.flickr.com/3250/2765022017_356efe6a25.jpg" title="Ноутбук такойто" class="image"><img src="images/hp151111.jpg" border="0" height="200" alt="" /></a>
<a href="http://farm4.static.flickr.com/3250/2765022017_356efe6a25.jpg" title="Ноутбук такойто" class="image"><img src="images/hp151111.jpg"  border="0" height="55"alt="" /></a>
<a href="http://farm4.static.flickr.com/3250/2765022017_356efe6a25.jpg" title="Ноутбук такойто" class="image"><img src="images/hp151111.jpg"  border="0" height="55"alt="" /></a>
<a href="images/hp151111.jpg" title="Ноутбук такойто" class="image"><img src="images/hp151111.jpg"  border="0" height="55"alt="" /></a>
</div>
</div>
</div>
<div class="clear"></div>
<div class="clearfix"></div>
<!-- Описание товара и еще 5 характеристик -->
  <div class="tab-container">
    <div class="tab-header">
      <div class="tab-handle">Описание</div>
      <div class="tab-handle">Характеристики</div>
      <div class="tab-handle">Опции</div>
    </div>
    <div class="tab-body">
      <div class="tab-body-element">
        <h3>Описание</h3>
        <div class="mod_shop_newprod_box">
          <p>Корпорация Toshiba была основана в 1875 году в Японии. В 1985 году, компанией был создан первый в мире портативный компьютер (сегодня - ноутбук). 
            За 126 лет своей истории компания стала транснациональной корпорацией и вошла в число крупнейших мировых производителей электроники и электротехники. Ноутбуки серий Portege и Tecra использовались космонавтами орбитальной станции &laquo;Мир&raquo; для проведения научных исследований и были по достоинству оценены во время полета благодаря своим мультимедийным возможностям. В ноябре 1997 года Toshiba произвела 10 000 000 ноутбук &ndash; абсолютный рекорд! 
            Ноутбуки Toshiba отличает широкий сперкт новейших технологий и стабильно высокое качество исполнения. Toshiba сотрудничает с Harman/Kardon в проектировании акустических систем ноутбуков, что позволяет производить лучшую встроенную акустику для ноутбуков.</p>
        </div>
      </div>
      <div class="tab-body-element">
        <h3>Характеристики</h3>
        <div class="mod_shop_newprod_box">
          <ul>
<li><strong>Процессор:</strong> Intel Core 2 Duo 1830 МГц (T5550) </li>
<li> <strong>Шина:</strong> 667MHz 2Mb L2 Cache </li>
<li> <strong>Оперативная память:</strong> 1024 Mb DDR2-667MHz </li>
<li> <strong>Жесткий диск:</strong> 250 Gb (4200 rpm), SATA </li>
<li> <strong>Экран:</strong> 15,4&quot; TFT WXGA Зеркальный (Glare) </li>
<li> <strong>Разрешение:</strong> 1280x800 </li>
<li> <strong>Видеокарта:</strong> Intel GMA X3100, видеопамять 128+256мб </li>
<li> <strong>Звуковая карта: </strong>AC97 2.0 совместимый </li>
<li> <strong>CD привод:</strong> DVD&plusmn;RW (DL) </li>
<li> <strong>Связь: </strong>Cеть 10/100 МБит/с (RJ-45); Модем 56 КБит/с (RJ-11) </li>
<li> <strong>Беспроводная связь:</strong> Bluetooth; Camera (1.3); WiFi (802.11a/b/g) </li>
<li> <strong>Порты:</strong> 4xUSB 2.0; FireWire (IEEE 1394); Line-out; Microphone in; TV-Out (S-video) </li>
<li> <strong>Слоты расширения: </strong>ExpressCard </li>
<li> <strong>Устройства ввода:</strong> Кл-ра Windows, Сенсорный планшет Touch Pad </li>
<li> <strong>Батарея: </strong>Li-Ion (до 3 часов) </li>
<li> <strong>Вес: </strong>2.7 кг </li>
<li> <strong>Корпус (Д х Ш х В):</strong> 363 x 267 x 34 мм </li>
<li> <strong>Программное обеспечение:</strong> Microsoft Windows Vista Home Premium </li>
<li> <strong>Гарантия: </strong>2 года международная гарантия производителя *</li>

          </ul>
        </div>
      </div>
      <div class="tab-body-element">
        <h3>Опции</h3>
        <div class="mod_shop_newprod_box"> 
          <p>Пропеллер </p>
        </div>
      </div>
    </div>
  </div>
<div class="clear"></div>






    <h2>Это приветсвенный текст магазина</h2>
    <p>Его можно отредактировать в админке разделе модули/ магазин/ Страницы помощи.</p>
    <!-- Презентация -->
    <div class="mod_shop_container_adv">
    <a title="" href="#"><img src="/templates/ave/images/adv_hp.gif" alt="Epson Stylus Photo R1900" width="698" height="180" border=""></a>
    </div>
    <div class="box">
      <h2>Категории товара</h2>
      <div class="block">
        <div class="mod_shop_newprod_box">
          <table width="100%"  cellpadding="0" cellspacing="0">
            <tr>
              <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                <a title="" href="#"> <strong>Ноутбуки</strong></a></td>
              <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/folder.gif" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                <a title="" href="#"> <strong>Системные блоки</strong></a></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    
<!-- Навигация по страницам -->    
<div class="page_navigation_box">
<a class="page_navigation" href="#">&lt;&lt;</a> <a href="#">&lt;</a> <a href="#">1</a> <a class="page_navigation" href="index.php?module=shop&amp;page=2">2</a> <span>3</span> <p>Страница 3 из 3 страниц</p>
</div>   


<!-- SHOP - ITEMS -->
<div class="mod_shop_container_1" >
<div class="grid_2 alpha" >
			<a href="#" class="image"> <img src="images/hp151111.jpg" width="100" height="100" alt="photo" /> </a>
</div>
<div class="grid_8" >
        	<h3><a  href="#">Canon i-SENSYS MF8450</a></h3>
          	<p>15,4", 2.7кг,  Intel Core 2 Duo 1830мгц, 1024 Mb DDR2-667MHz, 250 Gb (4200 rpm), SATA, DVD±RW (DL), Intel GMA X3100, Bluetooth; Camera (1.3); WiFi (802.11a/b/g), Bluetooth; Camera (1.3); WiFi (802.11a/b/g)</p>
            <small>Производитель: <a href="#">Canon</a>&nbsp;•&nbsp;Артикул: <em>CP-10001</em>&nbsp;•&nbsp;В продаже с: <em>20.05.2006</em></small>
</div>
<div class="grid_2 omega">
			<div class="mod_shop_price_box">
			<div class="mod_shop_price_big">99.249 р</div>
            <img  class="shop_stars" src="/templates/ave/modules/shop/5.gif" alt="Рейтинг:" />
            <form method="post" action="index.php?add=1&amp;module=shop&amp;action=addtobasket&amp;product_id=1">
                  <input name="amount" type="hidden" size="2" maxlength="2" value="1"  />
                  <input name="product_id" type="hidden" value="1" />
                  <input  name="insertinto" type="image" src="/templates/ave/modules/shop/inbasket.gif" />
                  <input  onclick="document.getElementById('to_wishlist_1').value='1';" name="insertwishlist" type="image" src="/templates/ave/modules/shop/compare.gif" />
                  <input type="hidden" name="wishlist_1" id="to_wishlist_1"  value="" />
            </form>
            </div>
</div>
<div class="clearfix"></div>
</div>
<hr />
<div class="mod_shop_container_1" >
<div class="grid_2 alpha" >
			<a href="#" class="image"> <img src="images/hp151111.jpg" width="100" height="100" alt="photo" /> </a>
</div>
<div class="grid_8" >
        	<h3><a  href="#">Canon i-SENSYS MF8450</a></h3>
          	<p>15,4", 2.7кг,  Intel Core 2 Duo 1830мгц, 1024 Mb DDR2-667MHz, 250 Gb (4200 rpm), SATA, DVD±RW (DL), Intel GMA X3100, Bluetooth; Camera (1.3); WiFi (802.11a/b/g), Bluetooth; Camera (1.3); WiFi (802.11a/b/g)</p>
            <small>Производитель: <a href="#">Canon</a>&nbsp;•&nbsp;Артикул: <em>CP-10001</em>&nbsp;•&nbsp;В продаже с: <em>20.05.2006</em></small>
</div>
<div class="grid_2 omega">
			<div class="mod_shop_price_box">
			<div class="mod_shop_price_new">370 р<img src="/templates/ave/modules/shop/shop_scell.gif" width="27" height="27" alt="Скидка" /></div>
            <img  class="shop_stars" src="/templates/ave/modules/shop/5.gif" alt="Рейтинг:" />
			<div class="mod_shop_price_alert">Товар временно отсутсвуюет!</div>
        </div>
</div>
<div class="clearfix"></div>
</div>
<hr />
<div class="mod_shop_container_1" >
<div class="grid_2 alpha" >
			<a href="#" class="image"> <img src="images/hp151111.jpg" width="100" height="100" alt="photo" /> </a>
</div>
<div class="grid_8" >
        	<h3><a  href="#">Canon i-SENSYS MF8450</a></h3>
          	<p>15,4", 2.7кг,  Intel Core 2 Duo 1830мгц, 1024 Mb DDR2-667MHz, 250 Gb (4200 rpm), SATA, DVD±RW (DL), Intel GMA X3100, Bluetooth; Camera (1.3); WiFi (802.11a/b/g), Bluetooth; Camera (1.3); WiFi (802.11a/b/g)</p>
            <small>Производитель: <a href="#">Canon</a>&nbsp;•&nbsp;Артикул: <em>CP-10001</em>&nbsp;•&nbsp;В продаже с: <em>20.05.2006</em></small>
</div>
<div class="grid_2 omega">
			<div class="mod_shop_price_box">
			<div class="mod_shop_price_big">239.500 р</div>
            <img  class="shop_stars" src="/templates/ave/modules/shop/5.gif" alt="Рейтинг:" />
            <form method="post" action="index.php?add=1&amp;module=shop&amp;action=addtobasket&amp;product_id=1">
                  <input name="amount" type="hidden" size="2" maxlength="2" value="1"  />
                  <input name="product_id" type="hidden" value="1" />
                  <input  name="insertinto" type="image" src="/templates/ave/modules/shop/inbasket.gif" />
                  <input  onclick="document.getElementById('to_wishlist_1').value='1';" name="insertwishlist" type="image" src="/templates/ave/modules/shop/compare.gif" />
                  <input type="hidden" name="wishlist_1" id="to_wishlist_1"  value="" />
            </form>
            </div>
</div>
<div class="clearfix"></div>
</div>
<hr />
<!-- Навигация по страницам -->    
<div class="page_navigation_box">
<a class="page_navigation" href="#">&lt;&lt;</a> <a href="#">&lt;</a> <a href="#">1</a> <a class="page_navigation" href="index.php?module=shop&amp;page=2">2</a> <span>3</span> <p>Страница 3 из 3 страниц</p>
</div>   
<!-- Популярные товары, новинки, скидки -->
<div class="tab-container">
      <div class="tab-header">
        <div class="tab-handle">Популярные товары</div>
        <div class="tab-handle">Специальное предложение</div>
        <div class="tab-handle">Поледние поступления</div>
      </div>
      <div class="tab-body">
        <div class="tab-body-element">
          <h3>Популярные товары</h3>
          <div class="mod_shop_newprod_box">
            <table width="100%"  cellpadding="0" cellspacing="0">
              <tr>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">Canon Powershot G11</a> <br />
                <span class="mod_shop_price_small">21.500 руб.</span></td>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">Toshiba Satellite A300-148</a> <br />
                  <span class="mod_shop_price_small">45.400 руб.</span></td>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">HP Compaq 530 FH524AA</a> <br />
                  <span class="mod_shop_price_small">37.500 руб.</span></td>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">Acer Extensa 5220-200508Mi</a> <br />
                  <span class="mod_shop_price_small">1.550 руб.</span></td>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">Canon Powershot G11</a> <br />
                  <span class="mod_shop_price_small">599 руб.</span></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="tab-body-element">
          <h3>Специальное предложение</h3>
          <div class="mod_shop_newprod_box">
            <table width="100%"  cellpadding="0" cellspacing="0">
              <tr>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">Canon Powershot G11</a> <br />
                  <strong>599,00 руб.</strong></td>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">Canon Powershot G11</a> <br />
                  <strong>599,00 руб.</strong></td>
              </tr>
            </table>
          </div>
        </div>
        <div class="tab-body-element">
          <h3>Поледние поступления</h3>
          <div class="mod_shop_newprod_box">
            <table width="100%"  cellpadding="0" cellspacing="0">
              <tr>
                <td style="text-align:center;"><div class="mod_shop_newprod_box_container"> <a title="" href="#"><img src="images/hp151111.jpg" alt="Canon Powershot G11" width="55" height="55"/></a> </div>
                  <a title="" href="#">Canon Powershot G11</a> <br />
                  <strong>599,00 руб.</strong></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
<div class="clearfix"></div>
    
    
    
    
    <h2 id="page-heading">Поздравляем!</h2>
    <p>Установка системы прошла успешно!
      Теперь Вы можете начать заполнять Ваши страницы информацией и создавать новые. Как вы могли заметить, мы создали для Вас несколько страниц - примеров.
      Если Вы авторизовались и владеете необходимыми правами, нажмите на левой стороне на „Включить редактор“, затем, нажав на значок редактирования, отредактируйте нужную страницу. Скачать AVE.cms с шаблоном который Вы видите, задать вопросы и высказать соё мнение можно на форуме.</p>
    <h2>Пример вывода запроса для рубрики новостей</h2>
    
    <div class="first article"> <a href="#" class="image"> <img src="/templates/ave/images/photo_60.jpg" width="120" height="90" alt="photo" /> </a>
      <h3> <a href="#">Близкий болид : предпосылки и развитие</a> </h3>
      <p>Очевидно, что элонгация прекрасно отражает параллакс - это солнечное затмение предсказал ионянам Фалес Милетский. У планет-гигантов нет твёрдой поверхности, таким образом магнитное поле вызывает эллиптический метеорный дождь... <a href="#">» вся новость</a></p>
      <p class="meta">19.04.2006 • Просмотров: (30) • Комментариев: (4)</p>
    </div>
    
    
    <div class="first article"> <a href="#" class="image"> <img src="/templates/ave/images/photo_60.jpg" width="120" height="90" alt="photo" /> </a>
      <h3> <a href="#">Близкий болид : предпосылки и развитие</a> </h3>
      <p>Очевидно, что элонгация прекрасно отражает параллакс - это солнечное затмение предсказал ионянам Фалес Милетский. У планет-гигантов нет твёрдой поверхности, таким образом магнитное поле вызывает эллиптический метеорный дождь... <a href="#">» вся новость</a></p>
      <p class="meta">19.04.2006 • Просмотров: (30) • Комментариев: (4)</p>
    </div>
    <div class="first article"> <a href="#" class="image"> <img src="/templates/ave/images/photo_60.jpg" width="120" height="90" alt="photo" /> </a>
      <h3> <a href="#">Близкий болид : предпосылки и развитие</a> </h3>
      <p>Очевидно, что элонгация прекрасно отражает параллакс - это солнечное затмение предсказал ионянам Фалес Милетский. У планет-гигантов нет твёрдой поверхности, таким образом магнитное поле вызывает эллиптический метеорный дождь... <a href="#">» вся новость</a></p>
      <p class="meta">19.04.2006 • Просмотров: (30) • Комментариев: (4)</p>
    </div>
    <div class="clearfix"></div>
    <h2>Типографика</h2>
    <p>Обыкновенный параграф. </p>
    <h4>Пример отображения цитаты</h4>
    <blockquote>
      <p>Я не очень был взволнован тем, что ночевал на ранчо у Буша. Он должен был сам думать, что будет, если он пустил к себе бывшего сотрудника разведки.</p>
      <p class="cite"> <cite>Владимир Путин</cite> </p>
    </blockquote>
<div class="tablebox">
    <table>
      <tr>
        <th>Lorem ipsum</th>
        <td>Dolor sit</td>
        <td class="currency">$125.00</td>
      </tr>
      <tr>
        <th>Dolor sit</th>
        <td>Nostrud exerci</td>
        <td class="currency">$75.00</td>
      </tr>
      <tr>
        <th>Nostrud exerci</th>
        <td>Lorem ipsum</td>
        <td class="currency">$200.00</td>
      </tr>
      <tr>
        <th>Lorem ipsum</th>
        <td>Dolor sit</td>
        <td class="currency">$64.00</td>
      </tr>
      <tr>
        <th>Dolor sit</th>
        <td>Nostrud exerci</td>
        <td class="currency">$36.00</td>
      </tr>
    </table>
    <table summary="This table includes examples of as many table elements as possible">
      <caption>
      An example table
      </caption>
      <colgroup>
      <col class="colA" />
      <col class="colB" />
      <col class="colC" />
      </colgroup>
      <thead>
        <tr>
          <th colspan="3" class="table-head">Table heading</th>
        </tr>
        <tr>
          <th>Column 1</th>
          <th>Column 2</th>
          <th class="currency">Column 3</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>Subtotal</th>
          <td></td>
          <th class="currency">$500.00</th>
        </tr>
        <tr class="total">
          <th>Total</th>
          <td></td>
          <th class="currency">$500.00</th>
        </tr>
      </tfoot>
      <tbody>
        <tr class="odd">
          <th>Lorem ipsum</th>
          <td>Dolor sit</td>
          <td class="currency">$125.00</td>
        </tr>
        <tr>
          <th>Dolor sit</th>
          <td>Nostrud exerci</td>
          <td class="currency">$75.00</td>
        </tr>
        <tr class="odd">
          <th>Nostrud exerci</th>
          <td>Lorem ipsum</td>
          <td class="currency">$200.00</td>
        </tr>
        <tr>
          <th>Lorem ipsum</th>
          <td>Dolor sit</td>
          <td class="currency">$64.00</td>
        </tr>
        <tr class="odd">
          <th>Dolor sit</th>
          <td>Nostrud exerci</td>
          <td class="currency">$36.00</td>
        </tr>
      </tbody>
    </table>
</div>    
    <div class="clearfix"></div>
    <div class="grid_4 alpha">
      <div class="box">
        <h2>Design Process</h2>
        <div class="block">
          <p>Design is based on the inspiration of past accomplishments. On that foundation, we can build upon those achievements to shape the future. Design is about life &mdash; past, present and future &mdash; and the learning process that happens between birth and death. It is about community and shared knowledge and experience. It is the passion to build on what we've learned to create something better.</p>
        </div>
      </div>
    </div>
    <div class="grid_4">
      <div class="box">
        <h2>Design Process</h2>
        <div class="block">
          <p>Design is based on the inspiration of past accomplishments. On that foundation, we can build upon those achievements to shape the future. Design is about life &mdash; past, present and future &mdash; and the learning process that happens between birth and death. It is about community and shared knowledge and experience. It is the passion to build on what we've learned to create something better.</p>
        </div>
      </div>
    </div>
    <div class="grid_4 omega">
      <div class="box">
        <h2>Design Process</h2>
        <div class="block">
          <p>Design is based on the inspiration of past accomplishments. On that foundation, we can build upon those achievements to shape the future. Design is about life &mdash; past, present and future &mdash; and the learning process that happens between birth and death. It is about community and shared knowledge and experience. It is the passion to build on what we've learned to create something better.</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="grid_12 alpha omega">
      <div class="box" id="kwick-box">
        <h2>Новинки каталога</h2>
        <div id="kwick">
          <ul class="kwicks">
            <li> <a class="kwick" href="#"> <img src="/templates/ave/images/hp151111.jpg" width="100" height="100" alt="photo" />
              <p>HP Compaq 530 FH524AA<strong>25.003 руб</strong></p>
              </a> </li>
            <li> <a class="kwick" href="#"> <img src="/templates/ave/images/hp151111.jpg" width="100" height="100" alt="photo" />
              <p>HP Compaq 530 FH524AA<strong>25.003 руб</strong></p>
              </a> </li>
            <li> <a class="kwick" href="#"> <img src="/templates/ave/images/hp151111.jpg" width="100" height="100" alt="photo" />
              <p>HP Compaq 530 FH524AA<strong>25.003 руб</strong></p>
              </a> </li>
            <li> <a class="kwick" href="#"> <img src="/templates/ave/images/hp151111.jpg" width="100" height="100" alt="photo" />
              <p>HP Compaq 530 FH524AA<strong>25.003 руб</strong></p>
              </a> </li>
            <li> <a class="kwick" href="#"> <img src="/templates/ave/images/hp151111.jpg" width="100" height="100" alt="photo" />
              <p>HP Compaq 530 FH524AA<strong>25.003 руб</strong></p>
              </a> </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="box">
      <h2><a href="#" id="toggle-accordion-block">Аккордеон</a></h2>
      <div class="block" id="accordion-block">
        <div id="accordion">
          <h3 class="toggler atStart">Модуль "Магазин"</h3>
          <div class="element atStart">
            <ul>
              <li><strong>Настройка. </strong>Позволяет за считанные минуты создать интернет-магазин в котором можно разместить тысячи товаров. </li>
              <li><strong>Авторизация. </strong>Магазин позволяет оформлять покупки как авторизованным пользователям, так и неавторизованным. Авторизованные пользователи могут сравнивать понравившееся им товары товары и пользоваться гибкой системой скидочных купонов. </li>
              <li><strong>SEO.</strong> Модуль обладает отличными SEO-показателями и позволяет оперировать необходимыми meta-тегами: <em>keyword, description</em>.</li>
            </ul>
          </div>
          <h3 class="toggler atStart">Модуль "Магазин"</h3>
          <div class="element atStart">
            <p>Позволяет за считанные минуты создать интернет-магазин в котором можно разместить тысячи товаров. Магазин позволяет оформлять покупки как авторизованным пользователям, так и неавторизованным. Авторизованные пользователи могут сравнивать понравившееся им товары товары. Также для авторизованных пользователей предусмотрена лидкая система скидок и купонов. Модуль обладает отличными SEO-показателями и позволяет оперировать всеми необходимыми meta-тегами.</p>
          </div>
          <h3 class="toggler atStart">Модуль "Магазин"</h3>
          <div class="element atStart">
            <p>Позволяет за считанные минуты создать интернет-магазин в котором можно разместить тысячи товаров. Магазин позволяет оформлять покупки как авторизованным пользователям, так и неавторизованным. Авторизованные пользователи могут сравнивать понравившееся им товары товары. Также для авторизованных пользователей предусмотрена лидкая система скидок и купонов. Модуль обладает отличными SEO-показателями и позволяет оперировать всеми необходимыми meta-тегами.</p>
          </div>
          <h3 class="toggler atStart">Модуль "Магазин"</h3>
          <div class="element atStart">
            <p>Позволяет за считанные минуты создать интернет-магазин в котором можно разместить тысячи товаров. Магазин позволяет оформлять покупки как авторизованным пользователям, так и неавторизованным. Авторизованные пользователи могут сравнивать понравившееся им товары товары. Также для авторизованных пользователей предусмотрена лидкая система скидок и купонов. Модуль обладает отличными SEO-показателями и позволяет оперировать всеми необходимыми meta-тегами.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="grid_4">
    <div class="box menu">
      <h2><a href="#" id="toggle-menu_v">Каталог товаров</a> </h2>
      <div class="block" id="menu_v">
        <ul class="menu_v">
          <li><a href="#">Ноутбуки</a> </li>
          <li class="active"><b><a href="#">Товары детского потребления</a></b>
            <ul>
              <li> <a href="#" >Коляски</a> </li>
              <li> <a href="#">Памперсы</a> </li>
              <li> <a href="#">Submenu 3</a> </li>
              <li class="active"><b><a href="#">Submenu 4</a> </li></b>
              <li> <a href="#">Submenu 5</a> </li>
            </ul>
          </li>
          <li> <a href="#" class="menuitem">Menu 3</a>
            <ul>
              <li> <a href="#">Submenu 1</a> </li>
              <li> <a href="#">Submenu 2</a> </li>
              <li> <a href="#">Submenu 3</a> </li>
              <li> <a href="#">Submenu 4</a> </li>
              <li> <a href="#">Submenu 5</a> </li>
            </ul>
          </li>
          <li> <a href="#" class="menuitem">Menu 4</a>
            <ul>
              <li> <a href="#">Submenu 1</a> </li>
              <li> <a href="#">Submenu 2</a> </li>
              <li> <a href="#">Submenu 3</a> </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="box">
      <h2> <a href="#" id="toggle-login-forms">Авторизация</a> </h2>
      <div class="block" id="login-forms">
        <form method="post" action="index.php" class="login">
          <p class="notice">Пожалуйста, авторизуйтесь, используя Ваши E-Mail и Пароль.</p>
          <input name="module" value="login" type="hidden" />
          <input name="action" value="login" type="hidden" />
          <input  tabindex="1" class="inputbox" name="cp_login" type="text" value="E-mail:" onfocus="this.value=''"/>
          <input tabindex="2" class="pass" type="password"   name="cp_password" value="Пароль:" onfocus="this.value=''"/>
          <input type="submit"  class="button" value="Войти" />
          <p class="notice">
            <input name="SaveLogin" style="margin: 0 0 0 0;" type="checkbox" id="SaveLogin" value="1" />
            Запомнить меня&nbsp; <a class="tooltip" title="Установите флажок, если Вы хотите, чтобы система автоматически осуществляла вход на основании ваших регистрационных данных." href="#">[?]</a><br />
            <a class="tooltip" title="Если Вы забыли свой пароль, введите E-mail адрес, который был указан Вами при регистрации и мы в кротчайшие сроки вышлем новый пароль." href="index.php?module=login&amp;action=passwordreminder">Забыли пароль?</a>&nbsp;|&nbsp; <a class="tooltip" title="Регистрация на сайте позволит Вам получить доступ к разделам,  которые разрешены для просмотра только зарегистрированным пользователям. Данная процедура не займет у Вас много времени." href="index.php?module=login&amp;action=register">Регистрация</a></p>
        </form>
      </div>
    </div>
    
    <div class="box">
      <h2><a href="#" id="toggle-shop-search">Поиск товара</a></h2>
      <div class="block" id="shop-search">
	<form method="post" action="index.php?module=shop">
	<input value="Поиск по магазину" onclick="this.value=''" onmouseout="if(this.value=='') this.value=''" class="inputbox" name="product_query" id="pq" type="text"/>

	<select  class="inputbox"  name="manufacturer" id="mf">
	<option value="">Все производители</option>
		<option value="6" >ACER</option>
		<option value="7" >ASUS</option>
		<option value="3" >Canon</option>
		<option value="9" >Casio</option>
		<option value="5" >Epson</option>
		<option value="1" >Fujitsu Siemens</option>
		<option value="4" >HP</option>
		<option value="8" >Toshiba</option>
		<option value="2" >Издательство ПИТЕР</option>
		</select>
	
	<select class="inputbox" name="product_categ" id="pc">
	<option>Все категории</option>
		<option  class="inputbox" value="50" style="font-weight:bold" >Ноутбуки</option>
		<option  class="inputbox" value="51"  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;10'—12'</option>
		<option  class="inputbox" value="52"  >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13'—14'</option>
		</select>
	
	<input class="inputbox priceinput"   type="text" name="price_start" id="pfpt" value="1.00" />
	- <input class="inputbox priceinput"   type="text" name="price_end" value="100000.00" />
	руб.
	
	<select class="inputbox"  name="sort">
	
	<option value="time_desc">Новинки в начале</option>
	<option value="time_asc">Новинки в конце</option>
	<option value="price_asc">По возрастанию цены</option>
	<option value="price_desc">По убыванию цены</option>
	
	
	</select>
	
	<select  class="inputbox"  name="recordset" id="rs">
								<option value="5" >5 на странице</option>
												<option value="10" selected>10 на странице</option>
								<option value="15" >15 на странице</option>
								<option value="20" >20 на странице</option>
								<option value="25" >25 на странице</option>
		</select>
	
	
	<input type="submit" class="button" value="Поиск" />
	</form>    
      </div>
    </div>
    
    <div class="box">
      <h2><a href="#" id="toggle-login-forms1">Здравствуйте, Битмап</a></h2>
      <div class="block" id="login-forms1">
        <ul>
          <li><a href="index.php?module=login&amp;action=profile">Настройки профиля</a></li>
          <li><a href="index.php?module=login&amp;action=delaccount">Удалить аккаунт</a></li>
          <li><a href="index.php?module=login&amp;action=passwordchange">Сменить пароль</a></li>
          <li><a onclick="window.open('admin/admin.php','admin','top=0,left=0,width=980,height=600,scrollbars=1,resizable=yes')" href="javascript:void(0);">Панель управления</a></li>
          <li> <a href="index.php?module=login&amp;action=wys&amp;sub=on">Включить редактор</a></li>
          <li><a href="index.php?module=login&action=logout">Выйти</a> </li>
        </ul>
      </div>
    </div>
    <div class="box">
      <h2><a href="#" id="toggle-poll">Голосование</a></h2>
      <div class="block" id="poll">
        <p><strong>Как Вам новый шаблон?</strong></p>
        <p>
        <div style="padding:2px">Круто</div>
        <div style="width: 98% height:5px; padding:0px;">
          <div style="display:block; background-color:#fa0606; height:5px; width:26%;"></div>
        </div>
        <small style="color:#fa0606;">Голосов: 14 (26%)</small>
        <div style="padding:2px">Чотко</div>
        <div style="width: 98% height:5px; padding:0px;">
          <div style="display:block; background-color:#1ede1e; height:5px; width:28%;"></div>
        </div>
        <small style="color:#1ede1e;">Голосов: 15 (28%)</small>
        <div style="padding:2px">Оху....но</div>
        <div style="width: 98% height:5px; padding:0px;">
          <div style="display:block; background-color:#1673dc; height:5px; width:46%;"></div>
        </div>
        <small style="color:#1673dc;">Голосов: 25 (46%)</small>
        <p>Вы уже оставили свой голос</p>
        <form method="post" style="margin: 0 0 10px 0;">
          <input onclick="location.href='index.php?module=poll&amp;action=result&amp;pid=1';" type="button" style="width: 130px;" class="button" value="Результаты (54)" />
          <input onclick="location.href='index.php?module=poll&amp;action=archive';" type="button" style="width: 65px;"  class="button" value="Архив" />
        </form>
      </div>
    </div>
    <div class="box">
      <h2><a href="#" id="toggle-popnews">Популярные новости</a></h2>
      <div class="block" id="popnews">
        <p><strong>1.</strong> <a href="#">Первая тестовая новость</a><small style="text-align:right;">(Комментариев: 4)</small> <strong>2.</strong> <a href="#">Вторая тестовая новость</a><small style="text-align:right;">(Комментариев: 1)</small></p>
      </div>
    </div>
    <div class="box">
      <h2><a href="#" id="toggle-popcommentors">Активные комментаторы</a></h2>
      <div class="block" id="popcommentors">
        <p><strong>1 место:</strong> Admin<br />
          <small style="text-align:right;">(Комментариев: 6)</small></p>
      </div>
    </div>
    <div class="box">
      <h2><a href="#" id="toggle-lastcomments">Последние комментарии</a></h2>
      <div class="block" id="lastcomments">
        <p><small>Ответил:Admin • 08-01-2009г. 20:41 </small> <a href="#">"...<em>ответ на коммент ответ на коммент ответ на коммент ответ на коммент ответ на коммент ответ на коммент ответ на коммент ответ на коммент ответ на комме</em>"</a> </p>
        <hr/>
        <p><small>Ответил:Admin • 08-01-2009г. 20:41 </small> <a href="#">"...<em>ответ на коммент ответ на коммент ответ на коммент ответ на коммеответ на комме</em>"</a> </p>
        <hr/>
        <p><small>Ответил:Admin • 08-01-2009г. 20:41 </small> <a href="#">"...<em>ответ на коммент ответ на к</em>"</a> </p>
        <hr/>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="grid_16" id="site_info">
    <div class="box">
      <p>Fluid 960 Grid System, created by <a href="http://www.domain7.com/WhoWeAre/StephenBau.html">Stephen Bau</a>, based on the <a href="http://960.gs/">960 Grid System</a> by <a href="http://sonspring.com/journal/960-grid-system">Nathan Smith</a>. Released under the <a href="../../../licenses/GPL_license.txt">GPL</a> / <a href="../../../licenses/MIT_license.txt">MIT</a> <a href="../../../README.txt">Licenses</a>.</p>
    </div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript" src="/templates/ave/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/templates/ave/js/jquery-ui.js"></script>
<script type="text/javascript" src="/templates/ave/js/jquery-fluid16.js"></script>
<script type="text/javascript" src="/templates/ave/js/FancyZoom.js"></script>
<script type="text/javascript" src="/templates/ave/js/FancyZoomHTML.js"></script>
<script type="text/javascript" src="/templates/ave/js/tabs.js"></script>
<script type="text/javascript" src="/templates/ave/js/common.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
		$('.tab-container').tabs();
		});
		$(document).ready(function(){
		tooltip();
		});
		</script>

        
</body>
</html>