[tag:theme:ave]
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>[tag:sitename] - [tag:titel]</title>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1251" />
<meta http-equiv="pragma" content="no-cache" />
<meta name="Keywords" content="[tag:keywords]" />
<meta name="Description" content="[tag:description]" />
<meta name="robots" content="[tag:robots]" />
[tag:if_print]
<link href="[tag:mediapath]css/print.css" rel="stylesheet" type="text/css" media="all" />
[/tag:if_print]
[tag:donot_print]
<link rel="stylesheet" type="text/css" href="/templates/ave/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/960.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/layout.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/nav.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/templates/ave/css/modules.css" media="screen" />
[/tag:donot_print]
</head>
<body onload="setupZoom()">
[tag:donot_print]
<div class="container_16">
  <!-- Блок логотипа -->
  <div class="grid_16 logobox">
  <h1 id="branding"> <a href="index.php" title="homepage">[tag:titel]</a> </h1>
  <div id="fon_header" style="background: url(/templates/ave/images/fon_header.jpg) no-repeat left 0px;"><p><b>AVE CMS</b> - позволяет легко подключать новые шаблоны, сочетать их с любым дизайном, который только можно нарисовать.</p></div>
  </div>
  <div class="clear"></div>

  <!-- Блок верхнего меню плюс поиск -->
  <div class="grid_16" style="position:relative;">[mod_navigation:2]<div id="search">[mod_search]</div></div>
  <div class="clear"></div>

  <!-- Основное содержимое -->
  <div class="grid_12">
  [/tag:donot_print]
[tag:if_print]
<script language="JavaScript" type="text/javascript">
<!--
window.resizeTo(680,600);
window.moveTo(1,1);
window.print();
//-->
</script>
<img src=" [tag:mediapath]images/logo_print.gif" alt="Версия для печати" /><br />
<strong>Версия для печати</strong><br />
Постоянный адрес страницы: [tag:document] <br />
<hr noshade="noshade" size="1" /><br />
[/tag:if_print]
[tag:maincontent]
[tag:donot_print]
  </div>
  <!-- Правая колонка меню и т.п. -->
  <div class="grid_4">

  <!-- Правое меню -->
    <div class="box menu">
      <h2><a href="#" id="toggle-section-menu">Каталог товаров</a> </h2>
      <div class="block" id="section-menu">[mod_navigation:1]</div>
    </div>

  <!-- Блок авторизации -->
    <div class="box">
      <h2> <a href="#" id="toggle-login-forms">Авторизация</a> </h2>
      <div class="block" id="login-forms">[mod_login]</div>
    </div>

  <!-- Блок опросов -->
    <div class="box">
      <h2><a href="#" id="toggle-poll">Голосование</a></h2>
      <div class="block" id="poll">[mod_poll:1]</div>
    </div>

  <!-- Блок популярных новостей -->
    <div class="box">
      <h2><a href="#" id="toggle-popnews">Популярные новости</a></h2>
      <div class="block" id="popnews">[mod_sysblock:3]</div>
    </div>

  <!-- Блок активные комментаторы -->
    <div class="box">
      <h2><a href="#" id="toggle-popcommentors">Активные комментаторы</a></h2>
      <div class="block" id="popcommentors">[mod_sysblock:1]</div>
    </div>

  <!-- Блок Последние комментарии -->
    <div class="box">
      <h2><a href="#" id="toggle-lastcomments">Последние комментарии</a></h2>
      <div class="block" id="lastcomments">[mod_sysblock:2]</div>
    </div>
  </div>
  <div class="clear"></div>

  <!-- Подвал -->
  <div class="grid_16" id="site_info">
    <div class="box">
      <p><a target="_blank" href="[tag:printlink]">
<img src="[tag:mediapath]images/printer.gif" alt="" border="0" class="absmiddle" />Печать страницы</a> |
[mod_recommend] | [tag:version]&nbsp;&nbsp;<a href="http://www.bitmap.ru" target="_blank"><img src="[tag:mediapath]images/bitmap_logo_44x17.gif" alt="Создание сайтов" width="44" height="17" border="0" class="absmiddle"  /></a></p>
    </div>
  </div>
  <div class="clear"></div>
</div>
<script type="text/javascript" src="/templates/ave/js/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="/templates/ave/js/jquery-ui.js"></script>
<script type="text/javascript" src="/templates/ave/js/jquery-fluid16.js"></script>
<script type="text/javascript" src="/templates/ave/js/FancyZoom.js"></script>
<script type="text/javascript" src="/templates/ave/js/FancyZoomHTML.js"></script>
<script type="text/javascript" src="/templates/ave/js/tabs.js"></script>
<script type="text/javascript">
		$(document).ready(function(){
		$('.tab-container').tabs();
		});
</script>
[/tag:donot_print]
</body>
</html>