/*::::::::::::::::::::::::::::::::::::::::
 Modul: gWeather
 System name: AVE 2.08
 Short Desc:  Google Weather
 Version: 1.0
 Authors: N.Popova, npop@abv.bg
 Last update: 05.07.2010
::::::::::::::::::::::::::::::::::::::::*/
.gw_main {overflow:hidden;}
.gw_main .gw_current {overflow:hidden;}
.gw_main .gw_main_left {float:left; width:auto;}
.gw_main .gw_temp {font-size:18px; text-align:center; margin:8px 0 0 0;}
.gw_main .gw_main_right {float:left; width:auto; margin:0 0 0 16px;}
.gw_main .gw_main_right h2 {margin: 4px 0 4px 0; font-size:150%;}
.gw_main .gw_condition {}
.gw_main .gw_humidity {}
.gw_main .gw_wind {}
ul.gw_next_days {clear:both; width:100%; float:left; list-style-type:none; list-style-image:none; margin:12px 0 12px 0; padding:0; list-style:none;}
ul.gw_next_days li {background: none; float:left;}
ul.gw_next_days li.aitems-1 {width:100%;}
ul.gw_next_days li.aitems-2 {width:49%;}
ul.gw_next_days li.aitems-3 {width:33%;}
ul.gw_next_days li.aitems-4 {width:24%;}
.gw_day {font-weight:bold; font-style:italic; text-align:center; display:block;}
ul.gw_next_days li img {display:block; margin:0 auto; clear:both;}
p.gw_day_temp {margin:6px 0 0 0; white-space:nowrap; text-align:center;}
span.gw_day_day {padding:2px; font-size:10px;}
span.gw_day_night {padding:2px; background:#666; color:#fff; font-size:10px;}
div.gw_fday {border-left:1px solid #ddd; margin:0 6px 0 0; padding:0 0 0 6px;}
ul.gw_next_days li:first-child div.gkw_fday {border-left:none;}
/* simple  weather */
.gw_simple {float:right; margin:15px 18px 0 0;}
.gw_simple .gw_current {overflow:hidden;}
.gw_simple .gw_main_left {float:left; width:auto;}
.gw_simple .gw_temp {font-weight: bold;}
.gw_simple .gw_main_right {float:left; width:auto; margin:0 0 0 16px; color:#FFFFFF; line-height: 17px;}
.gw_simple .gw_main_right h2 {font-size: 1em!important; margin: 0;}
.gkw_main_right p {font-size: 0.9em; float: left;margin: 0 5px 0 0;}
.gw_simple .gw_condition {}
.gw_simple .gw_humidity {}
.gw_simple .gw_wind {}