* {
	margin: 0;
	padding: 0;
}
html {
	margin-bottom: 1px;
	height: 100% !important;
	height: auto;
}
#body {
	color: #444;
	font-size: 0.9em;
	font-family: "Arial", "Verdana", "Helvetica", sans-serif;
	text-align: justify;
	text-decoration: none;
	background: #FFF url(img/body_bg.jpg) repeat-x top;
	height: 100%;
}
.wrapper {
	background: url(img/ave_logo.jpg) no-repeat 0 155px;
	width: 600px;
	margin: 0 auto;
	padding-top: 186px;
}
.step {
	float: right;
	width: 100%;
	height: 60px;
	clear: both;
}
.step_1 {
	background: url(img/step_1.jpg) no-repeat right;
}
.step_2 {
	background: url(img/step_2.jpg) no-repeat right;
}
.step_3 {
	background: url(img/step_3.jpg) no-repeat right;
}
.step_4 {
	background: url(img/step_4.jpg) no-repeat right;
}
.step_5 {
	background: url(img/step_5.jpg) no-repeat right;
}
.step_error {
	background: url(img/error.jpg) no-repeat right;
}
h1 {
	color: #1387c4;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 2em;
}
h5 {
	color: #666;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 3em;
}
p {
	padding: 4px 0;
	line-height: 1.2em;
}
a, a:visited {
	color: #222;
	text-decoration: none;
	outline: none;
}
a:hover {
	color: #1387c4;
	text-decoration: underline;
}
.eula {
	border: 1px solid #CCC;
	margin: 1em 0;
	width: 100%;
	height: 200px;
	overflow: auto;
}
.gnu {
	color: #666;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 4px;
}
.gnu h3 {
	font-size: 1em;
	font-weight: bold;
}
.small {
	font-size: 0.8em;
}
.go_buttons {
	padding: 2em 0;
}
.button {
	display: inline;
	padding: 6px 10px;
	margin: 0 4px;
	color: #555;
	outline: none;
}
.help {
	font-size: 0.75em;
	padding-left: 16px;
	margin: 1.4em 0;
	background: url(img/arrow_1.gif) no-repeat 0 4px;
}
.error {
	font-size: 0.8em;
	padding: 8px 2px 8px 36px;
	margin: 1.4em 0;
	background: url(img/warning.gif) no-repeat 4px 4px;
	border: 1px solid #FF2400;
}
.cf {
	display: inline-block;
}
#inquiry {
	width: 100%;
	margin: 0;
}
#inquiry_form div {
	border: 1px #ccc solid;
	margin: 0 0 -1px 0;
	width: 100%;
}
#inquiry_form label {
	width: 220px;
	float: left;
	display: block;
	text-align: right;
	font-size: 0.8em;
	margin: 0 20px 0 0;
	padding: 18px 20px 18px 0;
	background: #f2f2f2;
}
#inquiry_form input, #inquiry_form select {
	float: left;
	margin: 10px 0 0 0;
	border: solid 1px;
	border-color: #aaa #ddd #ddd #aaa;
	width: 280px;
	padding: 5px;
	font-size: 100%;
}
#inquiry_form input:focus {
	background-color: #ebf4ff;
	border-color: #86b9d6 #bad6f0 #bad6f0 #86b9d6;
}
.tip_help {
	float: left;
	border: none !important;
	padding: 12px 8px !important;
}
.star {
	font-weight: bold;
	padding: 4px;
	color: #FF2400;	
}













#ns_tt{
	position: absolute;
	border: solid #AAA 1px;
	background-color: #DDD;
	font-size: 11px;
	line-height: 16px;
	padding: 2px 5px;
	margin: 25px 0 0 5px;
	width: 200px;
}





















